
.options-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;

  background-color: white;
  text-align: center;
}

.options-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  color: white;
}

.option-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #a62d37;
}
/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
 
    color: #a62d37;
    outline-color: 3px #bfba69;
    text-shadow: 2px 1px 1px #000000;
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #bfba69;
}

.hud-main-text {
  text-align: center;
}

#finalScore {
    font-size: 90px;
    font-family: "Fondamento";
   
    text-align: center;
    border: 1px solid #bfba69;
    color: #02630a;
    background-color: rgba(191,186,105,.7);
    box-shadow: 3px 3px 7px green;
    text-decoration: none;
}

